.block {
  border: 1px solid #fff;
  padding: 5%;
  margin: 2%;
}
.button {
  background: rgb(255, 145, 0);
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  font-weight: bold;
  color: rgb(221, 221, 221);
  margin: 20px;
}
